*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
}
.portrait {
  font-family: Bebas Neue;
  font-size: 14px;
  font-weight: normal;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}
header{
  padding: 15px 35px;
  height: auto;
  display: inline-block;
  width: 100%;
  background-color: black;
}

.logo img{
  margin-top: 0.2%;
  margin-left: 0px;
  float: left;
  width: 100px;
}
img{
  max-width: 100%;
}

.menu .container{
  display: inline-block;
  float: right;
  margin-top: 0.4%;
  padding-bottom: 0.2%;
}
.menu .container a{
  text-decoration: none;
  text-shadow: 1px 1px 0 #100;
  color: #fff;
  font-size: 30px;
  padding-right: 60px;
}
.menu .container a:hover{
  opacity: 50%;
}
.portraittext{
font-family: Bebas Neue;
width: 100%;
font-size: 300%;
float: center;
text-align: center;
padding-top: 5%;
padding-bottom: 5%
}
.four5 {
  padding-top: 15%;
  display: grid;
  grid-template-columns: repeat(3,25%);
  justify-content: center;
  align-content: center;
  grid-gap: 5%;
  height: 100%;
  padding-bottom: 25%;
}

.four5 img{border: 3px solid black;}

.four5 img:hover{
  opacity: 0.7;
  cursor: pointer;
}

#lightbox{
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  display: none;
}
#lightbox.active{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
#lightbox img{
  width: 35%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
}

@media only screen and (max-width: 500px){
  body{ margin: 0}
  header{ padding: 0.01px;}
  .logo img{
    float: left;
    display: inline-block;
    margin-left: 0.6rem;
    margin-top: 1rem;
    width: 4rem;
  }
  header .menu{
    height: auto;
    padding-bottom: 4rem;
  }
  .menu .container{
    padding: 0;
    position: absolute;
    width: 70%;
    margin-top: 1rem;
    margin-left: 6rem;
    display: flex;
    list-style-type: none;
    justify-content: left;
    overflow: scroll;
  }
  .menu .container a{
    text-shadow: none;
    padding: 0px 0.6rem;
    font-size: 2rem;
    text-decoration: none;
    color: white;
  }
  .portraittext h1{
    text-align: center;
    padding-bottom: 8rem;
  }
  .four5{
    grid-template-columns: repeat(2,40%);
    padding-bottom: 15rem;
    grid-gap: 3%;
  }
  .four5 img{
    border: 3px solid black;
    border-radius: 0%;
  }
  #lightbox img{
    width: 80%;
  }
}
