*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
}
.portrait {
  font-family: Bebas Neue;
  font-size: 14px;
  font-weight: normal;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}
.portraitheader{
  padding: 15px 35px;
  display: inline-block;
  width: 100%;
  background-color: black;
}

img{
  max-width: 100%;
}
.logo{
  margin-top: 0.2%;
  float: left;
  width: 100px;
}
.menu{
  float: right;
}
.menu ul li{
  display: inline-block;
  float: left;
  margin-top: 4%;
}
.menu ul li a{
  text-decoration: none;
  text-shadow: 1px 1px 0 #100;
  color: #fff;
  font-size: 30px;
  padding-right: 60px;
}
.menu ul li a:hover{
  opacity: 50%;
}
.portraittext{
font-family: Bebas Neue;
width: 50%;
font-size: 300%;
float: center;
text-align: center;
padding-top: 5%;
margin-left: 25%;
padding-bottom: 5%
}
.four5 {
  display: grid;
  grid-template-columns: repeat(3,25%);
  justify-content: center;
  align-content: center;
  grid-gap: 5%;
  height: 100%;
  padding-bottom: 40vw;
}

.four5 img:hover{
  opacity: 0.7;
  cursor: pointer;
}

#lightbox{
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  display: none;
}
#lightbox.active{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
#lightbox img{
  width: 35%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
}
